<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Pet List</h2>
    </div>
    <div class="panel-body">
      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

        <thead>
          <tr>
            <th >Name</th>
            <th >color</th>
            <th >type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets | async">
            <td>{{pet.name}}</td>
            <td>{{pet.color}}</td>
            <td>{{pet.type}}</td>            
              <td><button style='margin-right:16px' (click)="deletePet(pet.id)" class="btn btn-danger">Delete</button>
                <button style='margin-right:16px' (click)="updatePet(pet.id)" class="btn btn-success" style="margin-left: 10px">Edit details</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>