<h3>
  Update Pet
</h3>
  <form (ngSubmit)="onSubmit()">
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" [(ngModel)]="pet.name" name="name">

</div>
<div class="form-group">
  <label for="name">color</label>
  <input type="text" class="form-control" id="color" [(ngModel)]="pet.color" name="color">

</div>
<div class="form-group">
  <label for="name">type</label>
  <input type="text" class="form-control" id="type" [(ngModel)]="pet.type" name="type">

</div>
<button style='margin-right:16px' class="btn btn-success">Submit</button>
<button style='margin-right:16px' (click)="list()" class="btn btn-success">Back to Pets</button>

</form>